dovecot_config_version = 2.4.1

# Dovecot – dovecot.conf (Debian 13 / Dovecot 2.4.1)
protocols = imap

# TLS
ssl = required
ssl_cert = <{{ ca_dir }}/mail.pem
ssl_key  = <{{ ca_dir }}/mail.key

# Auth via LDAP
auth_mechanisms = plain login
passdb ldap {
  args = /etc/dovecot/dovecot-ldap.conf
}
userdb ldap {
  args = /etc/dovecot/dovecot-ldap.conf
}

# Maildir
mail_location = maildir:/var/mail/vhosts/%d/%n/Maildir

# Namespace
namespace inbox {
  inbox = yes
}
