dovecot_config_version = 2.4.1
dovecot_storage_version = 2.4.1

# Dovecot – dovecot.conf (Debian 13 / Dovecot 2.4.1)
protocols = imap

# TLS (Dovecot 2.4 syntax)
ssl = required
ssl_server {
  cert_file = {{ ca_dir }}/mail.pem
  key_file  = {{ ca_dir }}/mail.key
}

# Auth via LDAP (Dovecot 2.4 syntax)
auth_mechanisms = plain login

passdb ldap {
  args = /etc/dovecot/dovecot-ldap.conf
}

userdb ldap {
  args = /etc/dovecot/dovecot-ldap.conf
}

# Maildir
mail_location = maildir:/var/mail/vhosts/%d/%n/Maildir

# Namespace
namespace inbox {
  inbox = yes
}
