dovecot_config_version = 2.4.1
dovecot_storage_version = 2.4.1

# Dovecot – dovecot.conf (Debian 13 / Dovecot 2.4.1)
# Setting names verified from Dovecot source: db-ldap-settings.c
protocols = imap

# TLS
ssl = required
ssl_server {
  cert_file = {{ ca_dir }}/mail.pem
  key_file  = {{ ca_dir }}/mail.key
}

# Auth
auth_mechanisms = plain login

# LDAP connection settings (prefix: ldap_)
ldap_uris             = ldap://{{ ip_int_srv }}
ldap_auth_dn          = cn=admin,dc=itnsa,dc=id
ldap_auth_dn_password = Skills39!
ldap_base             = ou=Employees,dc=itnsa,dc=id

# passdb (prefix: passdb_ldap_)
passdb ldap {
  passdb_ldap_bind   = yes
  passdb_ldap_filter = (&(objectClass=inetOrgPerson)(uid=%u))
}

# userdb (prefix: userdb_ldap_)
userdb ldap {
  userdb_ldap_filter = (&(objectClass=inetOrgPerson)(uid=%u))
  userdb_fields {
    uid  = 5000
    gid  = 5000
    home = /var/mail/vhosts/%Ld/%Ln
    mail = maildir:/var/mail/vhosts/%Ld/%Ln/Maildir
  }
}

# Maildir
mail_location = maildir:/var/mail/vhosts/%d/%n/Maildir

# Namespace
namespace inbox {
  inbox = yes
}
