[Interface]
PrivateKey = {{ privkey }}
Address    = {{ wg_client_ip }}/24
DNS        = {{ ip_int_srv }}

# Server: fw.itnsa.id
[Peer]
PublicKey    = {{ server_pubkey }}
PresharedKey = {{ psk }}
Endpoint     = 100.100.100.254:{{ wg_port }}
AllowedIPs   = 0.0.0.0/0
PersistentKeepalive = 25
