#!/usr/sbin/nft -f
# LKS 2025 – nftables ruleset untuk fw.itnsa.id
# Interface: eth0=WAN, eth1=INT, eth2=DMZ, eth3=MGMT

flush ruleset

define WAN  = eth0
define INT  = eth1
define DMZ  = eth2
define MGMT = eth3

define NET_INT  = 10.10.10.0/24
define NET_DMZ  = 10.10.20.0/24
define IP_DNS   = 10.10.10.10
define IP_VRRP  = 10.10.20.100
define IP_MAIL  = 10.10.20.10
define IP_LDAP  = 10.10.10.10

table inet filter {

    chain input {
        type filter hook input priority 0; policy drop;

        iif lo accept
        ct state established,related accept

        # Allow MGMT
        iif $MGMT accept

        # Allow ICMP
        ip protocol icmp accept

        # Allow SSH everywhere
        tcp dport 22 accept

        # Allow WireGuard
        iif $WAN udp dport {{ wg_port }} accept
    }

    chain forward {
        type filter hook forward priority 0; policy drop;

        ct state established,related accept

        # INT & DMZ ke internet
        iif $INT oif $WAN accept
        iif $DMZ oif $WAN accept

        # VPN client ke INT & DMZ
        iif wg0 oif $INT accept
        iif wg0 oif $DMZ accept

        # Mail → LDAP
        iif $DMZ oif $INT ip saddr $IP_MAIL ip daddr $IP_LDAP tcp dport 389 accept

        # Port forward HTTP/S → VRRP
        iif $WAN oif $DMZ ip daddr $IP_VRRP tcp dport { 80, 443 } accept

        # Port forward DNS
        iif $WAN oif $INT ip daddr $IP_DNS tcp dport 53 accept
        iif $WAN oif $INT ip daddr $IP_DNS udp dport 53 accept
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}

table ip nat {

    chain prerouting {
        type nat hook prerouting priority -100;

        iif $WAN tcp dport { 80, 443 } dnat to $IP_VRRP
        iif $WAN tcp dport 53 dnat to $IP_DNS
        iif $WAN udp dport 53 dnat to $IP_DNS
    }

    chain postrouting {
        type nat hook postrouting priority 100;

        oif $WAN masquerade
    }
}
